{% extends "base.html" %}
{% block title %}MAMA SHOP - Products{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<br>
<u><h2 class="nav justify-content-center"> Cleaning Products </h2></u>
<br>
<style>
    .container{
      max-width: 1155px;
      margin: auto;
      width: 100%;
      text-align: center;
    }

    /*cart-icon*/
    .header:hover{
      color: brown;
    }

    .btn-buy{
      display: flex;
      margin: 24px auto 0 auto;
      padding: 12px 20px;
      border: none;
      background: black;
      color: white;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
    }

    .btn-buy:hover{
      background-color: brown;
    }

    a{
      text-decoration: none;
    }

    /* Shop Content */
    .shop-content{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(220px, auto)); /*will be in 1 row*/
      gap: 20px; /*spaces between contents*/
    }

    /* Menu items */
    .product-box{
      position: relative;
      border: 1px solid darkgrey;
      border-radius: 25px;
      margin: 15px 5px;
      background-color: white;
    }

    .product-box:hover{
      box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.08);
    }

    .product-img{
      width: 100%;
      border-radius: 23px;
      height: auto;
      padding: 10px;
      text-align: center;
    }


    .product-title{
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 3px;
      text-align: center;
    }

    .price{
      font-weight: 600;
      font-size: 20px;
      text-align: center;
      margin-top: 3px;
    }

    .desc{
      font-size: 18px;
      color: black;
      text-align: center;
      margin: 93px;
      line-height: 30px;
      text-decoration: underline;
    }

    .desc:hover{
      color: brown;
    }

    /*CART TO BE AT THE BOTTOM RIGHT*/
    .add-cart{
      position: absolute;
      bottom: 0;
      right: 0;
      background: black;
      color: white;
      padding: 10px;
      border-radius: 9px 0;
      cursor: pointer;
    }

    .add-cart:hover{
      background: brown;
    }

</style>
<style>
    .col-sm-3{
        border: 3px outset lightgray;
        background: #F5F5F5;
        padding: 15px;
        border-radius: 15px;
        margin-right: 50px;
        margin-left: 50px;
    }

    .row button{
        color: darkgray;
        background: white;
        border-radius: 5px;

    }

    .row p{
        font-size: 20px;
        color: blue;
    }


    .col-sm-3:hover{
        background-color: darkgray;
    }
</style>

<form method="POST" action="">
    <div class="form-group">
        {{ render_field(form.name, class="form-control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.quantity, class="form-control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.price, class="form-control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.total, class="form-control") }}
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/>
</form>

<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            {% for product in products %}-->
<!--            <div class="col-md-3">-->
<!--                <div class="card">-->
<!--                    <img src="static/img/tissue.jpg" class="product-img"alt="tissue" style="width:209px;"><br>-->
<!--                    <div class="card-body"></div>-->
<!--                        <h5 class="text-center">{{product.name}}</h5>-->
<!--                        <p class="text-center">{{product.price}}</p>-->
<!--                    <div class="card-footer"></div>-->
<!--                        <a href="#" class="float-left btn btn-sm btn-primary">Details</a>-->
<!--                        <a href="#" class="float-right btn btn-sm btn-warning">Add to cart</a>-->
<!--                </div>-->
<!--            </div>-->
<!--            {% endfor %}-->
<!--        </div>-->
<!--    </div>-->
    <!-- Shop -->
<!--    <section class="shop container">-->
<!--      &lt;!&ndash; Content &ndash;&gt;-->
<!--      <div class="shop-content">-->
<!--        &lt;!&ndash; Box 1 &ndash;&gt;-->
<!--        <div class="product-box"><br>-->
<!--          <img src="static/img/tissue.jpg" class="product-img" alt="tissue" style="width:209px;"><br>-->
<!--          <h2 class="product-title">TISSUE</h2>-->
<!--          <h3 class="price">$4.00</h3>-->
<!--          <a href="/cart"><i class="fa-solid fa-cart-shopping add-cart" width="30px" height="30px"></i></a>-->
<!--          <a class="desc" href="/desc" target="_blank">Description</a>-->
<!--        </div>-->
<!--        &lt;!&ndash; Box 2 &ndash;&gt;-->
<!--        <div class="product-box"><br>-->
<!--          <img src="static/img/dettol.png" class="product-img" alt="dettol" style="width:180px;">-->
<!--          <h2 class="product-title">DETTOL</h2>-->
<!--          <h3 class="price">$6.00</h3>-->
<!--          <i class="fa-solid fa-cart-shopping add-cart" width="30px" height="30px"></i>-->
<!--          <a class="desc" href="#" target="_blank">Description</a>-->
<!--        </div>-->
<!--        &lt;!&ndash; Box 3 &ndash;&gt;-->
<!--        <div class="product-box">-->
<!--          <img src="static/img/febreeze.png" class="product-img" alt="febreeze" style="width:360px;">-->
<!--          <h2 class="product-title">FEBREEZE</h2>-->
<!--          <h3 class="price">$5.00</h3>-->
<!--          <i class="fa-solid fa-cart-shopping add-cart" width="30px" height="30px"></i>-->
<!--          <a class="desc" href="#" target="_blank">Description</a>-->
<!--        </div>-->
<!--        &lt;!&ndash; Box 4  &ndash;&gt;-->
<!--        <div class="product-box">-->
<!--          <img src="static/img/cif.png" class="product-img" alt="cif" style="width:198px;">-->
<!--          <h2 class="product-title">CIF</h2>-->
<!--          <h3 class="price">$2.00</h3>-->
<!--          <i class="fa-solid fa-cart-shopping add-cart" width="30px" height="30px"></i>-->
<!--          <a class="desc" href="#" target="_blank">Description</a>-->
<!--        </div>-->
<!--       </div>-->
<!--      </section>-->


<!--<div class="container-fluid text-center text-dark" style="background-color:clear;">-->
<!--    <div class="row">-->
<!--        <div class="col-sm-3 justify-content-center" style="background-color:clear;">-->
<!--            <img src="static/img/tissue.jpg" alt="tissue" style="width:206.5px;"><br><br>-->
<!--            <u><b><h5 class="text-dark" style="size:18px">TISSUE</h5></b></u>-->
<!--            <h5 class="text-dark" style="size:18px">$4.00</h5>-->
<!--            <p class="text-dark"><u><a href="/desc" class="text-dark">description</a></u></p>-->
<!--            <h5 class="text-dark" style="size:16px"><button><a href="/cart" class="text-dark">Add to Cart</a></button></h5>-->

<!--        </div>-->
<!--        <div class="col-sm-3" style="background-color:clear;">-->
<!--           <img src="static/img/dettol.png" alt="dettol" style="width:175px;"><br><br>-->
<!--             <u><b><h5 class="text-dark" style="size:18px">DETTOL</h5></b></u>-->
<!--             <h5 class="text-dark" style="size:18px">$6.00</h5>-->
<!--             <p class="text-dark"><u><a href="/desc" class="text-dark">description</a></u></p>-->
<!--             <h5 class="text-dark" style="size:16px"><button><a href="#" class="text-dark">Add to Cart</a></button></h5>-->

<!--        </div>-->
<!--        <div class="col-sm-3" style="background-color:clear;">-->
<!--           <img src="static/img/febreeze.png" alt="febreeze" style="width:345px;"><br><br>-->
<!--            <u><b><h5 class="text-dark" style="size:18px">FEBREEZE</h5></b></u>-->
<!--            <h5 class="text-dark" style="size:18px">$5.00</h5>-->
<!--            <p class="text-dark"><u><a href="/desc" class="text-dark">description</a></u></p>-->
<!--            <h5 class="text-dark" style="size:16px"><button><a href="#" class="text-dark">Add to Cart</a></button></h5>-->
<!--        </div>-->
<!--    </div>-->
<!--  </div>-->


{% endblock %}
