<style>
  footer{
    display: flex;
    flex: wrap;
    justify-content: space-between;
    color: white;
  }

  footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    margin: 20px;
    padding-left: 40px;
    padding-right: 10px;
  }

  footer h4{
    font-size: 20px;
    padding-bottom: 10px;
  }

  footer a{
    font-size: 15px;
    text-decoration: none;
    color: white;
    margin-bottom: 5px;
  }

  footer .follow i,
  footer .col install i,
  footer .col .payment i{
    padding-right: 10px;
    font-size: 28px;
  }

  footer .follow i:hover,
  footer .col .payment i:hover{
    color: lightgray;
  }

  .copyright hr{
    height: 1px;
   }

  .copyright p{
      padding: 0px 30px;
  }
</style>

<br>

<footer class="mar padd bg-dark">
      <div class="col">
        <h4>About</h4>
        <a href="#">Terms and Conditions</a>
        <a href="#">Privacy and Policy</a>
        <a href="/contactUs">Contact Us</a>
      </div>

     <div class="col">
        <h4>My Account</h4>
        <a href="/signUp">Sign Up</a>
        <a href="/logIn">Log In</a>
        <a href="/cart">Cart</a>
      </div>

      <div class="col">
        <div class="follow">
          <h4>Follow us</h4>
            <p>On our social media platforms</p>
          <div class="icons">
            <i class="fa-brands fa-facebook-square"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-tiktok"></i>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="follow">
          <h4>Install App</h4>
            <p>On App Store or Google Play</p>
          <div class="icons">
          <i class="fa fa-apple" aria-hidden="true"></i>
          <i class="fa fa-google" aria-hidden="true"></i>
          </div>
        </div>
      </div>

     <div class="col">
        <div class="payment">
          <h4>Payment</h4>
            <p>Secured Payment Gateways</p>
          <div class="icons">
            <i class="fa fa-cc-visa" aria-hidden="true"></i>
            <i class="fa fa-cc-mastercard" aria-hidden="true"></i>
          </div>
        </div>
      </div>

</footer>

      <div class="copyright">
          <hr>
        <p>&copy; 2023 MAMA SHOP</p>
      </div>
