{% extends "base.html" %}
{% block title %}Library Loan System - Retrieve Log In{% endblock %}

{% block content %}
<div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>User ID</th>
      <th>Username</th>
      <th>Password</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users_list %}
      <tr>
        <td>{{ user.get_user_id() }}</td>
        <td>{{ user.get_username() }}</td>
        <td>{{ user.get_password() }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
